In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
hdf = pd.read_parquet('02-gig-economy/data/hhv1.parquet')
pdf = pd.read_parquet('02-gig-economy/data/perv1.parquet')
pdf = pdf.droplevel('visit')
hdf.head()

                                                                             visit  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01              V1
                                        2                       01              V1
                                                                02              V1
                                        3                       01              V1
                        2               1                       01              V1

                                                                                         state  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01            Himachal Pradesh
                                        2                       01            Himachal Pradesh
                                                                02            Himachal Pradesh
                                        3                       01            Himachal Pradesh
                        2               1                       01            Himachal Pradesh

                                                                             district  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                 04
                                        2                       01                 04
                                                                02                 04
                                        3                       01                 04
                        2               1                       01                 04

                                                                             nss-region  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                  021
                                        2                       01                  021
                                                                02                  021
                                        3                       01                  021
                        2               1                       01                  021

                                                                             stratum  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                01
                                        2                       01                01
                                                                02                01
                                        3                       01                01
                        2               1                       01                01

                                                                             sub-stratum  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                    14
                                        2                       01                    14
                                                                02                    14
                                        3                       01                    14
                        2               1                       01                    14

                                                                             sub-sample  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                    1
                                        2                       01                    1
                                                                02                    1
                                        3                       01                    1
                        2               1                       01                    1

                                                                             fod-sub-region  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                     0213
                                        2                       01                     0213
                                                                02                     0213
                                        3                       01                     0213
                        2               1                       01                     0213

                                                                             month  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01              08
                                        2                       01              08
                                                                02              08
                                        3                       01              08
                        2               1                       01              08

                                                                                                       response_code  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01            informant co-operative but not capable
                                        2                       01                informant co-operative and capable
                                                                02            informant co-operative but not capable
                                        3                       01            informant co-operative but not capable
                        2               1                       01                informant co-operative and capable

                                                                              ...  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no  ...
Q1         rural  10002 1               1                       01            ...
                                        2                       01            ...
                                                                02            ...
                                        3                       01            ...
                        2               1                       01            ...

                                                                             annual_expenditure_durables  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                                     0
                                        2                       01                                     0
                                                                02                                     0
                                        3                       01                                     0
                        2               1                       01                                  5000

                                                                             monthly_consumer_expenditure_others  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                                          8733
                                        2                       01                                          7550
                                                                02                                          8483
                                        3                       01                                          7017
                        2               1                       01                                          9333

                                                                              informat_serial_no  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                            03
                                        2                       01                            03
                                                                02                            01
                                        3                       01                            01
                        2               1                       01                            03

                                                                             survey_date  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01              11082023
                                        2                       01              11082023
                                                                02              11082023
                                        3                       01              10082023
                        2               1                       01              10082023

                                                                             survey_time  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                    70
                                        2                       01                    60
                                                                02                    64
                                        3                       01                    65
                        2               1                       01                    65

                                                                              Ns count for sector x stratum x substratum x sub-sample  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                                                            2
                                        2                       01                                                            2
                                                                02                                                            2
                                        3                       01                                                            2
                        2               1                       01                                                            2

                                                                              Ns count for sector x stratum x substratum  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                                                     4
                                        2                       01                                                     4
                                                                02                                                     4
                                        3                       01                                                     4
                        2               1                       01                                                     4

                                                                              subsample_multiplier  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                          246798
                                        2                       01                           35596
                                                                02                           35596
                                        3                       01                           61700
                        2               1                       01                         1613680

                                                                              Count of contributing State x Sector x Stratum x SubStratum in 4 Quarters  \
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                                                            4
                                        2                       01                                                            4
                                                                02                                                            4
                                        3                       01                                                            4
                        2               1                       01                                                            4

                                                                                                       hh_type
yr_quarter sector FSU   sample-sg-sb-no second-stage-stratum-no sample-hh-no
Q1         rural  10002 1               1                       01                self-employed in agriculture
                                        2                       01                 regular wage/salary earning
                                                                02                self-employed in agriculture
                                        3                       01            casual labour in non-agriculture
                        2               1                       01                self-employed in agriculture

[5 rows x 29 columns]

In [3]:
# Get MPCE info

mce = hdf['monthly_consumer_expenditure_others'] / hdf['hh_size']
hdf['mpce_qrt'] = pd.qcut(mce, 4, labels=[1, 2, 3, 4])
pdf['mpce_qrt'] = hdf['mpce_qrt'].reindex(pdf.index.droplevel('person_serial_number')).values

In [4]:
# Get NCO

NCO_COLS = ['usual_principal_activity_nco', 'usual_subsidiary_activity_nco', 'weekly_occupation_nco']
ORG_NCO_CODES = [214, 215, 2161, 241, 242, 243, 311, 321, 331, 332, 333, 343, 351, 352, 412, 413, 421, 422, 431, 432, 441, 511, 512, 513, 515, 521, 522, 524, 531, 532, 832, 833, 911, 912, 941, 952]
pdf['has_NCO'] = pdf[NCO_COLS].isin(list(map(str, ORG_NCO_CODES))).any(axis=1)

In [5]:
# Get NIC

NIC_COLS = ['usual_principal_activity_nic', 'usual_subsidiary_activity_nic', 'weekly_industry_nic']
ORG_NIC_CODES = list(map(str, [
    10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 
    30, 31, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 55, 56, 
    58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 77, 78, 79, 80, 81, 82, 85, 87, 95
]))
pdf['has_NIC'] = False
for col in NIC_COLS:
    pdf['has_NIC'] |= pdf[col].str[:2].isin(ORG_NIC_CODES)

* Largely limiting to urban (study actually covers top 100 cities), non-agricultural workforce.
* 18-45 years of age
* Secondary school to graduation.
* Below the 75th percentile of MPCE

In [6]:
df = pdf[pdf.index.get_level_values(1) == 'urban']
df = df[df['age'] >= 18]
df = df[df['age'] <= 45]

In [8]:
df = df[df['general_education'] != 'postgraduate and above']
df = df[df['mpce_qrt'].isin([1, 2, 3])]
df = df[df['has_NIC'] & df['has_NCO']]

In [11]:
df.to_parquet('02-gig-economy/data/gig-economy.parquet')