In [1]:
from glob import glob
import pandas as pd

In [2]:
filepatterns = [f"../../hces-2023-24/data/sec-{i}.*.parquet" for i in range(5, 15)]
cons_files = []
for pat in filepatterns:
    cons_files.extend(glob(pat))

In [3]:
consumption, sources = [], []

for file in cons_files:
    df = pd.read_parquet(file)
    colname = 'cons_total_value' if 'cons_total_value' in df else 'tot_expenditure'
    consumption.append(df[colname].unstack())
    if 'source' in df:
        sources.append(df['source'].unstack())

In [4]:
cdf = pd.concat(consumption, axis=1, verify_integrity=True)
cdf.head()

item_code,71,72,140,141,142,143,144,145,146,148,...,36,37,97,99,432,630,631,632,633,639
hhid,,,,,,,,,,,,,,,,,,,,,
22300101,NaN,NaN,180.0,35.0,100.0,75.0,NaN,160.0,NaN,NaN,...,NaN,NaN,NaN,600.0,600.0,NaN,2100.0,NaN,NaN,2100.0
22300201,NaN,NaN,180.0,NaN,10.0,75.0,NaN,160.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1200.0,2300.0,NaN,NaN,3500.0
22300202,NaN,NaN,180.0,NaN,10.0,75.0,NaN,60.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN,1800.0
22300203,NaN,NaN,90.0,NaN,25.0,26.0,NaN,80.0,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,450.0,NaN,NaN,NaN,450.0
22300204,NaN,NaN,72.0,NaN,10.0,15.0,NaN,80.0,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2100.0,NaN,NaN,2100.0

In [5]:
sdf = pd.concat(sources, axis=1, verify_integrity=True)
sdf.head()

item_code,71,72,140,141,142,143,144,145,146,148,...,301,302,309,320,321,322,323,324,325,329
hhid,,,,,,,,,,,,,,,,,,,,,
22300101,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
22300201,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300202,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300203,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
22300204,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cdf.to_parquet('data/baskets-consumption-value.parquet')
sdf.to_parquet('data/baskets-sources.parquet')