In [1]:
import pandas as pd
from statsmodels.stats.weightstats import ttest_ind
import hces

df = hces.load()
df.head()

,sector,nss_region,multiplier,family_size,n_children,n_schoolchildren,n_elderly,n_school_meals,employed_annual,nco_2015,...,used_ration_card,procured_rice,procured_wheat,procured_grain,procured_sugar,procured_pulses,procured_edible_oil,procured_other,performed_ceremony,meals_served_to_nonhh
hhid,,,,,,,,,,,,,,,,,,,,,
46667201,rural,12.0,16669.0,5.0,0.0,0.0,0.0,0.0,yes,112.0,...,yes,True,True,False,False,False,False,False,no,8
46667302,rural,12.0,24840.0,5.0,3.0,3.0,0.0,0.0,yes,832.0,...,yes,True,True,False,False,False,False,False,no,30
46667303,rural,12.0,24840.0,5.0,1.0,1.0,1.0,0.0,yes,741.0,...,yes,True,True,False,False,False,False,False,no,20
46667305,rural,12.0,24840.0,5.0,3.0,1.0,0.0,0.0,yes,931.0,...,yes,True,True,False,False,False,False,False,no,0
46667306,rural,12.0,24840.0,3.0,0.0,0.0,2.0,0.0,yes,633.0,...,yes,True,True,False,False,False,False,False,yes,50

---

### Elegibility - everyone; treatment - used pmgky

In [2]:
df['treat'] = df['has_benefited_from_pmgky'] == 'yes'
hces.compare(df, ['sector', 'treat'], ['FOOD', 'EDUCATION', 'HEALTH'])

                      FOOD    EDUCATION      HEALTH
sector treat
rural  False  10349.025964   932.757792  366.254742
       True    9569.603057   808.078353  344.628828
urban  False  12237.092021  1246.073617  416.460897
       True   10815.570909  1153.424000  417.701387

In [3]:
df.groupby('sector').apply(lambda x: hces.ttest(x, ['FOOD', 'EDUCATION', 'HEALTH']))

        FOOD  EDUCATION  HEALTH
sector
rural    0.0        0.0     0.0
urban    0.0        0.0     0.0

In [4]:
hces.compare(df, ['sector', 'treat'], list(hces.EDU_COLS))

               books_1st  books_2nd  stationery        fees    coaching  \
sector treat
rural  False  161.301252   6.679362  101.837223  467.108165  170.779421
       True   144.358607   4.739232   98.459299  381.472349  158.832753
urban  False  244.681140   8.925427  126.516306  582.655828  230.881308
       True   225.166049   6.418330  112.837920  579.187019  196.318569

              edu_other
sector treat
rural  False  25.052369
       True   20.216113
urban  False  52.413608
       True   33.496113

In [5]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.EDU_COLS))

        books_1st  books_2nd  stationery  fees  coaching  edu_other
sector
rural         0.0        0.0         0.0   0.0       0.0        0.0
urban         0.0        0.0         0.0   0.0       0.0        0.0

In [6]:
hces.compare(df, ['sector', 'treat'], hces.FOOD_COLS)

                  cereals      pulses  sugar_salt        dairy          veg  \
sector treat
rural  False  1212.387734  415.487745  192.635879  2128.393116  1239.963128
       True   1020.127459  430.858926  185.685543  1705.848898  1256.254446
urban  False  1231.445539  420.043785  179.375909  2539.603242  1235.541078
       True   1060.829427  443.399415  174.031926  1920.672964  1251.195418

                  fruits         meat         oil       spice         bev  \
sector treat
rural  False  614.357853  1023.133066  578.568926  673.646713  560.807858
       True   565.965508  1035.426959  595.211212  666.174194  477.697959
urban  False  852.834877   968.882938  559.940160  670.860528  858.099841
       True   737.283775  1247.466132  563.390433  699.377197  688.928776

                   cooked    processed
sector treat
rural  False   973.895289   735.748657
       True    949.154814   681.197140
urban  False  1620.076129  1100.387996
       True   1178.139654   850.855792

In [7]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.FOOD_COLS))

,cereals,pulses,sugar_salt,dairy,veg,fruits,meat,oil,spice,bev,cooked,processed
sector,,,,,,,,,,,,
rural,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
urban,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
hces.compare(df, ['sector', 'treat'], hces.HEALTH_COLS)

                     410        411        412        413        414  \
sector treat
rural  False   94.334294  50.416197  48.437937  66.727730  23.324409
       True    95.629450  47.271735  46.556804  61.028146  20.019237
urban  False   95.625868  58.467749  62.249681  80.814900  22.706453
       True   108.213684  58.905953  60.415810  79.104993  25.268222

                    420       421        422       423       424
sector treat
rural  False  63.033844  7.230027  10.355794  0.472141  1.922368
       True   56.237955  6.420207   9.116025  0.360035  1.989234
urban  False  70.904087  7.767489  14.686008  0.518483  2.720177
       True   63.423681  7.996048  12.039996  0.594231  1.738770

In [9]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.HEALTH_COLS))

        410  411  412  413  414  420  421  422  423  424
sector
rural   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
urban   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

---

### Treatment = used ration card; eligibility, everyone

In [10]:
df['treat'] = df['used_ration_card'] == 'yes'

In [11]:
hces.compare(df, ['sector', 'treat'], ['FOOD', 'EDUCATION', 'HEALTH'])

                      FOOD    EDUCATION      HEALTH
sector treat
rural  False  10900.521936  1063.634969  410.798483
       True    9623.916368   808.541931  340.497859
urban  False  12389.907199  1289.533123  399.384381
       True   11101.006979  1137.748141  434.789959

In [12]:
df.groupby('sector').apply(lambda x: hces.ttest(x, ['FOOD', 'EDUCATION', 'HEALTH']))

        FOOD  EDUCATION  HEALTH
sector
rural    0.0        0.0     0.0
urban    0.0        0.0     0.0

In [13]:
hces.compare(df, ['sector', 'treat'], hces.EDU_COLS)

               books_1st  books_2nd  stationery        fees    coaching  \
sector treat
rural  False  189.267658   5.838181  117.878307  553.086034  166.517162
       True   142.458560   5.301287   96.062728  382.545555  162.116814
urban  False  261.525240   8.409188  136.680816  588.151528  237.025161
       True   213.995057   7.725796  106.687993  574.641468  200.773778

              edu_other
sector treat
rural  False  31.047628
       True   20.056986
urban  False  57.741191
       True   33.924050

In [14]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.EDU_COLS))

        books_1st  books_2nd  stationery  fees  coaching  edu_other
sector
rural         0.0        0.0         0.0   0.0       0.0        0.0
urban         0.0        0.0         0.0   0.0       0.0        0.0

In [15]:
hces.compare(df, ['sector', 'treat'], hces.FOOD_COLS)

                  cereals      pulses  sugar_salt        dairy          veg  \
sector treat
rural  False  1488.583702  427.785081  216.485346  2560.837503  1243.059810
       True   1006.501848  425.319859  182.519782  1709.560927  1252.299654
urban  False  1317.127664  409.945201  181.224444  2689.801837  1211.306473
       True   1026.179875  446.474191  173.801262  1959.340991  1271.128914

                  fruits         meat         oil       spice         bev  \
sector treat
rural  False  633.260896   764.844603  606.232595  669.362140  547.056612
       True   572.294888  1082.692107  586.447475  668.540408  497.478710
urban  False  853.411942   773.841359  556.790000  649.541255  882.857599
       True   772.606603  1360.465199  565.541594  712.329865  716.173004

                   cooked    processed
sector treat
rural  False   995.933718   747.079931
       True    950.004884   690.255828
urban  False  1747.550342  1116.509082
       True   1185.051424   911.914057

In [16]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.FOOD_COLS))

,cereals,pulses,sugar_salt,dairy,veg,fruits,meat,oil,spice,bev,cooked,processed
sector,,,,,,,,,,,,
rural,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
urban,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
hces.compare(df, ['sector', 'treat'], hces.HEALTH_COLS)

                     410        411        412        413        414  \
sector treat
rural  False  108.994147  56.065303  54.903532  76.382529  26.133579
       True    92.536035  46.830659  45.697925  60.341383  20.158835
urban  False   90.342592  56.078093  59.093898  78.097670  22.663349
       True   109.707675  61.215056  64.215039  82.416929  24.516131

                    420       421        422       423       424
sector treat
rural  False  66.847762  7.882804  10.736455  0.498320  2.354052
       True   56.903292  6.461258   9.298156  0.378093  1.892222
urban  False  68.583455  7.252932  13.924087  0.584320  2.763985
       True   68.123259  8.451549  13.642039  0.503319  1.998963

In [18]:
df.groupby('sector').apply(lambda x: hces.ttest(x, hces.HEALTH_COLS))

        410  411  412  413  414  420  421  422  423  424
sector
rural   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
urban   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0