In [1]:
import pandas as pd

In [3]:
hh = pd.read_parquet('/Users/jaidevd/src/hces-2023-24/data/sec-4-HCQ.parquet')
hh.head()

,hh_size,employed_annual,nco_2015,nic_2008,max_income_from,hasincome_selfemp_agri,hasincome_wage_agri,hasincome_casual_agri,hh_type,hoh_religion,...,land_type,land_owned_in_acres,has_house,house_type,energy_source_cooking,energy_source_lighting,rationcard_type,is_rent,has_benefited_from_pmgky,multiplier
hhid,,,,,,,,,,,,,,,,,,,,,
22300101,4,yes,112.0,47522.0,self-employment,NaN,NaN,NaN,1,Hinduism,...,Homestead only,0.02,yes,owned,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),NaN,no,57436
22300201,4,yes,112.0,73100.0,self-employment,NaN,NaN,NaN,1,Hinduism,...,Homestead only,0.01,yes,hired,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),NaN,no,27497
22300202,2,no,NaN,NaN,None,NaN,NaN,NaN,9,Hinduism,...,Homestead only,0.01,yes,owned,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),NaN,no,27497
22300203,2,no,NaN,NaN,None,NaN,NaN,NaN,9,Hinduism,...,Homestead and other land,0.03,yes,owned,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),NaN,no,27497
22300204,2,yes,231.0,85301.0,regular wage/salary earning,NaN,NaN,NaN,2,Christianity,...,Homestead only,0.02,yes,owned,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),NaN,no,27497

In [4]:
# meals
sec3 = pd.read_parquet('../../hces-2023-24/data/sec-3-HCQ.parquet')
sec3.head()

                         rel_to_hoh  gender  age     marital_status  \
hhid     person_id
22300101 3          unmarried child    male   23      never married
         2                   spouse  female   45  currently married
         4          unmarried child  female   24      never married
         1                     self    male   56  currently married
22300201 2                   spouse  female   44  currently married

                                  edu_level  edu_years used_internet  \
hhid     person_id
22300101 3                         graduate       18.0           yes
         2                        secondary       10.0           yes
         4          post graduate and above       20.0           yes
         1                         graduate       15.0           yes
22300201 2             upper primary/middle        8.0            no

                    days_outside_home  meals_daily  meals_school  \
hhid     person_id
22300101 3                        0.0          3.0           NaN
         2                        0.0          3.0           NaN
         4                        0.0          3.0           NaN
         1                        0.0          3.0           NaN
22300201 2                        0.0          3.0           NaN

                    meals_employer  meals_others  meals_payment  meals_home  \
hhid     person_id
22300101 3                     NaN           NaN            3.0        87.0
         2                     NaN           3.0            NaN        87.0
         4                     NaN           NaN            4.0        86.0
         1                     NaN           NaN            3.0        87.0
22300201 2                     NaN           NaN            NaN        90.0

                    member_status  original_member  multiplier
hhid     person_id
22300101 3                      1              1.0       57436
         2                      1              1.0       57436
         4                      1              1.0       57436
         1                      1              1.0       57436
22300201 2                      1              1.0       27497

In [5]:
# This ^ needs to be aggregated into an index of how much meals come from welfare, etc.

In [6]:
# ration cards, procurements against them
sec41 = pd.read_parquet('../../hces-2023-24/data/sec-4.1-FDQ.parquet')
sec41.head()

,used_ration_card,procured_rice,procured_wheat,procured_grain,procured_sugar,procured_pulses,procured_edible_oil,procured_other,online_groceries,online_milkprod,online_veg,online_fruits,online_dryfruits,online_eggfishmeat,online_processed_served,online_processed_packed,online_other,performed_ceremony,meals_served_to_nonhh,multiplier
hhid,,,,,,,,,,,,,,,,,,,,
22300101,no,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,no,5,57436
22300201,no,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,no,3,27497
22300202,no,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,no,2,27497
22300203,no,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,no,3,27497
22300204,no,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,no,3,27497