In [1]:
import pandas as pd
df = pd.read_parquet('data/hh.parquet')
df.head()

,sector,nss_region,multiplier,family_size,n_children,n_schoolchildren,n_elderly,n_school_meals,employed_annual,nco_2015,nic_2008,max_income_from,hoh_religion,caste,energy_source_cooking,energy_source_lighting,rationcard_type,has_benefited_from_pmgky
hhid,,,,,,,,,,,,,,,,,,
46667201,rural,12,16669,5,0,0,0,0.0,yes,112.0,46632.0,self-employment,Hinduism,others,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),no
46667301,rural,12,24840,4,0,0,0,0.0,yes,233.0,85211.0,regular wage/salary earning,Hinduism,others,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),no
46667302,rural,12,24840,5,3,3,0,0.0,yes,832.0,49219.0,self-employment,Islam,others,LPG,electricity (incl. generated by solar or wind ...,Below Poverty Line (BPL),yes
46667303,rural,12,24840,5,1,1,1,0.0,yes,741.0,35109.0,regular wage/salary earning,Hinduism,others,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),yes
46667304,rural,12,24840,3,0,0,2,0.0,no,NaN,NaN,None,Hinduism,others,LPG,electricity (incl. generated by solar or wind ...,Above Poverty Line (APL),yes

In [4]:
ration = pd.read_parquet('../../hces-2023-24/data/sec-4.1-FDQ.parquet')
ration = ration[['used_ration_card'] + [c for c in ration if c.startswith('procured_')] + ['performed_ceremony', 'meals_served_to_nonhh']]
ration.to_parquet('data/ration.parquet')

In [5]:
csq = pd.read_parquet('../../hces-2023-24/data/sec-4.2-CSQ.parquet')
csq.head()

,procured_kerosene_ration,received_subsidy_lpg,num_subsidized_lpg,received_free_electricity,is_hhmem_edu,num_hhmem_publicedu,num_hhmem_privedu,received_free_textbook,num_free_textbook,received_free_stationary,...,is_hospitalization,is_benefit_healthscheme,num_benefit_healthscheme,amt_benefit_healthscheme,online_fuel,online_toilet,online_edu,online_medicine,online_services,multiplier
hhid,,,,,,,,,,,,,,,,,,,,,
22300101,2,1,2.0,2,2,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,57436
22300201,2,1,2.0,2,2,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,27497
22300202,2,1,1.0,2,2,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27497
22300203,2,2,NaN,2,2,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27497
22300204,2,1,1.0,2,2,NaN,NaN,NaN,NaN,NaN,...,4,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,27497

In [7]:
csq = csq[['procured_kerosene_ration', 'received_subsidy_lpg',
           'received_free_electricity', 'is_hhmem_edu',
           'num_hhmem_privedu',
           'received_free_stationary',
           'received_free_schoolbag', 'received_free_oth',
           'received_fee_waiver',
           'is_hhmem_pmjay', 'is_hospitalization',
           'is_benefit_healthscheme']]
csq['received_free_school_oth'] = csq.pop('received_free_oth')
csq.to_parquet('data/services.parquet')

/tmp/ipykernel_8643/2464453171.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csq['received_free_school_oth'] = csq.pop('received_free_oth')

In [23]:
cereals = pd.read_parquet('../../hces-2023-24/data/sec-5.1-FDQ.parquet')
cereals = cereals['cons_total_value'].unstack()
cereals = cereals.drop([129], axis=1).sum(axis=1)

In [24]:
pulses = pd.read_parquet('../../hces-2023-24/data/sec-5.2-FDQ.parquet')
pulses = pulses['cons_total_value'].unstack()
pulses = pulses.drop([159], axis=1).sum(axis=1)

In [26]:
ss = pd.read_parquet('../../hces-2023-24/data/sec-5.3-FDQ.parquet')
ss = ss['cons_total_value'].unstack()
ss = ss.drop([179], axis=1).sum(axis=1)

In [27]:
milk = pd.read_parquet('../../hces-2023-24/data/sec-6.1-FDQ.parquet')
milk = milk['cons_total_value'].unstack()
milk = milk.drop([169], axis=1).sum(axis=1)

In [28]:
veg = pd.read_parquet('../../hces-2023-24/data/sec-6.2-FDQ.parquet')
veg = veg['cons_total_value'].unstack()
veg = veg.drop([219], axis=1).sum(axis=1)

In [29]:
fruits = pd.read_parquet('../../hces-2023-24/data/sec-6.3-FDQ.parquet')
fruits = fruits['cons_total_value'].unstack()
fruits = fruits.drop([239], axis=1).sum(axis=1)

In [30]:
meat = pd.read_parquet('../../hces-2023-24/data/sec-6.5-FDQ.parquet')
meat = meat['cons_total_value'].unstack()
meat = meat.drop([199], axis=1).sum(axis=1)

In [31]:
oil = pd.read_parquet('../../hces-2023-24/data/sec-6.6-FDQ.parquet')
oil = oil['cons_total_value'].unstack()
oil = oil.drop([189], axis=1).sum(axis=1)

In [32]:
spice = pd.read_parquet('../../hces-2023-24/data/sec-6.7-FDQ.parquet')
spice = spice['cons_total_value'].unstack()
spice = spice.drop([269], axis=1).sum(axis=1)

In [33]:
bev = pd.read_parquet('../../hces-2023-24/data/sec-6.8-FDQ.parquet')
bev = bev['cons_total_value'].unstack()
bev = bev.drop([279], axis=1).sum(axis=1)

In [34]:
cooked = pd.read_parquet('../../hces-2023-24/data/sec-7.1-FDQ.parquet')
cooked = cooked['cons_total_value'].unstack()
cooked = cooked.drop([289], axis=1).sum(axis=1)

In [35]:
proc = pd.read_parquet('../../hces-2023-24/data/sec-7.2-FDQ.parquet')
proc = proc['cons_total_value'].unstack()
proc = proc.drop([299], axis=1).sum(axis=1)

In [38]:
food = pd.concat([
    cereals,
    pulses,
    ss,
    milk * 52 / 12,
    veg * 52 / 12,
    fruits * 52 / 12,
    meat * 52 / 12,
    oil * 52 / 12,
    spice * 52 / 12,
    bev * 52 / 12,
    cooked * 52 / 12,
    proc * 52 / 12
], axis=1, verify_integrity=True)
food.columns = 'cereals pulses sugar_salt dairy veg fruits meat oil spice bev cooked processed'.split()

In [40]:
food.to_parquet('data/food.parquet')

In [41]:
# education

In [48]:
edu = pd.read_parquet('../../hces-2023-24/data/sec-10.1-CSQ.parquet')
edu = edu['cons_total_value'].unstack() / 12
edu = edu.drop([409], axis=1)
edu.columns = 'books_1st books_2nd stationery fees coaching edu_other'.split()
edu.head()

           books_1st  books_2nd  stationery        fees  coaching   edu_other
hhid
22300302  375.000000        NaN   66.666667         NaN       NaN  108.333333
22300305         NaN        NaN  150.000000   25.000000       NaN         NaN
22300312  208.333333        NaN   41.666667         NaN       NaN   66.666667
22300313  125.000000        NaN   41.666667         NaN       NaN   66.666667
22301301         NaN        NaN   41.666667  183.333333       NaN         NaN

In [49]:
edu.to_parquet('data/education.parquet')

In [47]:
# Health

In [51]:
hosp = pd.read_parquet('../../hces-2023-24/data/sec-10.2-CSQ.parquet')
hosp = hosp['cons_total_value'].unstack() / 12
nohosp = pd.read_parquet('../../hces-2023-24/data/sec-10.3-CSQ.parquet')
nohosp = nohosp['cons_total_value'].unstack() / 12

health = pd.concat((hosp, nohosp), axis=1, verify_integrity=True)

In [53]:
health.drop([419, 429], axis=1).to_parquet('data/health.parquet')