In [1]:
import pandas as pd

In [2]:
edu = pd.read_parquet('data/edu-indicators.parquet')
edu.head()

,is_hhmem_edu,received_free_textbook,received_free_stationary,received_free_schoolbag,received_free_oth_school,received_fee_waiver
hhid,,,,,,
22300101,2,NaN,NaN,NaN,NaN,NaN
22300201,2,NaN,NaN,NaN,NaN,NaN
22300202,2,NaN,NaN,NaN,NaN,NaN
22300203,2,NaN,NaN,NaN,NaN,NaN
22300204,2,NaN,NaN,NaN,NaN,NaN

In [3]:
edu.columns

Index(['is_hhmem_edu', 'received_free_textbook', 'received_free_stationary',
       'received_free_schoolbag', 'received_free_oth_school',
       'received_fee_waiver'],
      dtype='object')

In [4]:
edu['is_hhmem_edu'].value_counts(normalize=True)

is_hhmem_edu
1    0.544121
2    0.455879
Name: proportion, dtype: float64

In [5]:
edu['received_fee_waiver'].unique()

array([nan,  2.,  1.])

In [8]:
has_edu = edu['is_hhmem_edu'] == 1
edu[~has_edu].drop(['is_hhmem_edu'], axis=1).isnull().sum(axis=1).unique()

array([5])

In [11]:
for col in edu.drop(['is_hhmem_edu'], axis=1):
    print(col, edu[col].unique())

received_free_textbook [nan  1.]
received_free_stationary [nan  1.]
received_free_schoolbag [nan  1.]
received_free_oth_school [nan  1.]
received_fee_waiver [nan  2.  1.]

In [21]:
def edu_score(row):
    if row['is_hhmem_edu'] == 2:
        return 0
    score = row[['received_free_textbook', 'received_free_stationary', 'received_free_schoolbag', 'received_free_oth_school']]
    score = score.sum() / 5
    return score + (row['received_fee_waiver'] == 1).astype(int) / 5

edu['edu_score'] = edu.apply(edu_score, axis=1)

In [28]:
edu.to_parquet('data/edu-indicators.parquet')

In [29]:
## health
health = pd.read_parquet('data/health-indicators.parquet')
health.head()

          is_hhmem_pmjay  is_hospitalization  is_benefit_healthscheme
hhid
22300101               2                   4                      NaN
22300201               2                   4                      NaN
22300202               2                   4                      NaN
22300203               2                   4                      NaN
22300204               2                   4                      NaN

In [30]:
# leave this alone, it's very tricky

In [31]:
# assets
assets = pd.read_parquet('data/assets-indicators.parquet')
assets.head()

,received_free_laptop,received_free_tab,received_free_mobile,received_free_bicycle,received_free_bike,received_free_clothing,received_free_footwear,received_free_oth_dgq
hhid,,,,,,,,
22300101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22300204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
for col in assets:
    print(col, assets[col].unique())

received_free_laptop [nan  1.]
received_free_tab [nan  1.]
received_free_mobile [nan  1.]
received_free_bicycle [nan  1.]
received_free_bike [nan  1.]
received_free_clothing [nan  1.]
received_free_footwear [nan  1.]
received_free_oth_dgq [nan  1.]

In [34]:
assets['assets_score'] = assets.sum(axis=1) / assets.shape[1]

In [35]:
assets['assets_score'].value_counts()

assets_score
0.000    236858
0.125     14180
0.250      8027
0.375      2788
0.500       100
Name: count, dtype: int64

In [36]:
assets.to_parquet('data/assets-indicators.parquet')

In [37]:
# utils

In [38]:
utils = pd.read_parquet('data/utilities-indicators.parquet')

In [39]:
utils.head()

,energy_source_cooking,energy_source_lighting,used_ration_card,procured_kerosene_ration,received_subsidy_lpg,received_free_electricity,334
hhid,,,,,,,
22300101,LPG,electricity (incl. generated by solar or wind ...,no,2,1,2,NaN
22300201,LPG,electricity (incl. generated by solar or wind ...,no,2,1,2,NaN
22300202,LPG,electricity (incl. generated by solar or wind ...,no,2,1,2,NaN
22300203,LPG,electricity (incl. generated by solar or wind ...,no,2,2,2,NaN
22300204,LPG,electricity (incl. generated by solar or wind ...,no,2,1,2,NaN

In [40]:
food = pd.read_parquet('data/food-indicators.parquet')

In [43]:
food.columns

Index(['rationcard_type', 'has_benefited_from_pmgky', 'meals_school',
       'meals_others', 'used_ration_card', 'procured_rice', 'procured_wheat',
       'procured_pulses', 'procured_grain', 'procured_sugar',
       'procured_edible_oil', 'procured_other', '61', '62', '70', '101', '107',
       '1', '71', '158', '72', '73', '74', '178', '171', '188', '75', '76'],
      dtype='object')